.env
*.keystore
*.jks
local.properties
.gradle/
build/
**/build/
**/bin/
**/obj/
android/gradle/gradle-daemon-jvm.properties
server/src/SnapSpend.Api/wwwroot/uploads/*
!server/src/SnapSpend.Api/wwwroot/uploads/.gitkeep
.idea/
.DS_Store
